<h1>File Uploads to Server using AWS S3</h1>
<form action="/upload-server" method="POST" enctype="multipart/form-data">
    <input type="file" name="images" multiple="multiple">
    <button>Submit</button>
</form>
<a href="/"><button style="color: red; font-weight: bold;"><< Back to menu</button></a>